<nav>
    <ul>
      <li><a href="/inbox">Hộp Thư Đến</a></li>
      <li><a href="/compose">Soạn Thư</a></li>
      <li><a href="/outbox">Hộp Thư Đi</a></li>
      <li><a href="/logout">Đăng Xuất</a></li>
    </ul>
  </nav>
  <hr>